// List of font sizes
$xsmall-font-size: 0.75rem; // => 12px
$small-font-size: 0.875rem; // => 14px
$body-font-size: 1rem; // => 16px
$body-large-font-size: 1.375rem; // => 22px
$large-font-size: 1.5rem; // => 24px
$xlarge-font-size: 2.25rem; // => 36px;
